/**
 * @file
 * Initialize base
 *
 * Initialize is a modern, elegant and minimal combination of Normalize.css,
 * and CSS Reset.
 * Compatible with IE10+.
 */

body {
  background: $c--light-grey;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  @include breakpoint(mobile down) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

ul,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

