/**
 * @file
 * Typography element
 *
 * Text elements.
 */

html {
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
  overflow-x: hidden;
}

body {
  color: $c--primary-brown;
  font-size: $fs--15;
  font-family: $font--rubik;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

p,
ul,
ol {
  line-height: 1.53;
}

ul,
ol {
  padding-left: 1em;
  margin-bottom: 1em;
}

a {
  color: $c--primary-red;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $c--primary-brown;
  }
}
