/**
 * @file
 * Initialize base
 *
 * Initialize is a modern, elegant and minimal combination of Normalize.css,
 * and CSS Reset.
 * Compatible with IE10+.
 */

body {
 background: $c--white;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
