/**
 * @file
 * Typography Settings
 *
 * - Import Webfonts
 * - Define Font-families
 * - Define Typography-related global variables
 */


// font families
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

$font--playfair: 'Playfair Display', serif;
$font--rubik: 'Rubik', sans-serif;

// font sizes
$fs--tiny: 1rem;
$fs--tiny-plus: 1.3rem;
$fs--small: 1.4rem;
$fs--normal: 1.6rem;
$fs--medium: 1.8rem;
$fs--large: 2.8rem;
$fs--huge: 4rem;
$fs--mega: 5.1rem;

$fs--10: 1rem;
$fs--12: 1.2rem;
$fs--13: 1.3rem;
$fs--14: 1.4rem;
$fs--16: 1.6rem;
$fs--18: 1.8rem;
$fs--28: 2.8rem;
$fs--36: 3.6rem;
$fs--40: 4rem;
$fs--51: 5.1rem;

// line-height
$lh--10: 1rem;
$lh--12: 1.2rem;
$lh--13: 1.3rem;
$lh--14: 1.4rem;
$lh--16: 1.6rem;
$lh--18: 1.8rem;
$lh--20: 2rem;
$lh--40: 4rem;
$lh--51: 5.1rem;

// font weight
$fw--100: 100;
$fw--400: 400;
$fw--500: 500;
$fw--600: 600;
$fw--700: 700;