/**
 * @file
 * Site Header
 *
 * Header is not a component, it's a layout section. Therefore all header
 * related styles, rules come here except what has an independent component, ie.
 * Navigation component.
 */

header {
  position: fixed;
  width: 100%;
  z-index: 999;

  @include breakpoint(medium) {
    position: static;
  }
}

.region-header {
  @include flex;
  @include flex-direction(row);
  @include justify-content(space-between);

  padding: 0 2rem;
  z-index: 100;
  background-color: $c--white;

  @include breakpoint(medium) {
    padding: 0 4.4rem;
    margin-bottom: -1rem;
  }

  .path-frontpage & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    margin-bottom: 0;
  }

  #block-consulo-theme-branding {
    position: relative;
    z-index: 100;
  }
}
