/**
 * @file
 * Site Footer
 *
 * Footer is not a component, it's a layout section. Therefore all footer
 * related styles, rules come here except what has an independent component, ie.
 * Scroll to Top button.
 */

.region-footer {
  background-color: $c--primary-brown;
  padding: 1.5rem 0;

  @include breakpoint(medium) {
    height: 4rem;
    padding: 0 4.4rem;
  }

  #block-footer {
    @include flex;
    @include flex-direction(column);
    @include justify-content(center);

    @include breakpoint(medium) {
      @include flex;
      @include flex-direction(row);
      @include justify-content(space-between);
    }

    span {
      font-family: $font--rubik;
      color: $c--white;
      line-height: 2rem;
      font-size: $fs--tiny;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      text-align: center;

      @include breakpoint(medium) {
        opacity: 0.8;
        line-height: 4rem;
        text-align: initial;
      }

      a {
        color: $c--white;
      }
    }
  }

  .path-frontpage & {
    @include breakpoint(mobile) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }

    @include breakpoint(medium) {
      background-color: rgba($c--primary-brown, 0.5);
    }
  }
}
