/**
 * @file
 * Admin component
 *
 * Theming admin and user related pages, blocks.
 *
 * @package: content
 */

.path-admin,
.path-user,
.page-node-type-partner-quote,
.page-node-type-team-member,
.page-node-type-partner {
  .block-system-main-block {
    background: $c--white;
    padding: 6rem 0;
  }

  .inner-container {
    @extend %wide-container;
  }

  .button {
    @include button;

    padding: 1rem 4rem;
    margin: 2rem 0;
  }
}

ul.tabs {
  @extend %wide-container;

  .inner-container > nav.tabs > & {
    padding: 0;

    .page-node-type-contact-page & {
      max-width: 100%;
      margin-bottom: 1em;
    }
  }

  > li a {
    padding: 1em;
  }
}
