/**
 * @file
 * Typography component
 *
 * General typography theming.
 *
 * @package: typography
 */

/** Main menu **/


#block-consulo-theme-main-menu {
  @include flex;
  @include justify-content(flex-end);
  @include flex-direction(row);
  .menu-item a {
    @include transition(all .3s);
    font-family: $font--rubik;
    font-size: $fs--12;
    color: $c--primary-brown;
    font-weight: $fw--500;
    text-transform: uppercase;
    @include breakpoint(medium) {
      font-size: $fs--14;
      &:hover {
        color: $c--primary-red;
      }
    }
  }
  .social-icons-holder {
    @include flex;
    @include justify-content(flex-start);
    @include flex-direction(row);
    margin-left: 1.5rem;
    padding-top: 2rem;
    @include breakpoint(tablet) {
      margin-left: 4.5rem;
    }
    .social-icon {
      @include transition(all .3s);
      @include border-radius(100%);
      width: 22px;
      height: 22px;
      background-color: $c--primary-brown;
      text-align: center;
      line-height: 24px;
      color: #F3EEF2;
      &:not(:last-child) {
        margin-right: 1.8rem;
      }
      @include breakpoint(medium) {
        &:hover {
          background-color: $c--primary-red;
        }
      }
      .fa-facebook-f {
        font-size: 1.3rem;
      }
      .fa-twitter {
        font-size: 1.2rem;
      }
    }
  }
}

/** Slider **/

.slider-text-holder {
  a,
  h2 {
    @include transition(all .3s);
    font-family: $font--playfair;
    font-size: $fs--28;
    font-weight: $fw--100;
    margin-bottom: 1.3rem;
    color: $c--primary-brown;
    @include breakpoint(medium) {
      font-size: $fs--36;
    }
    @include breakpoint(desktop) {
      font-size: $fs--51;
    }
  }
  @include breakpoint(medium) {
    a:hover h2 {
      color: $c--primary-red;
    }
  }
  .slider-description {
    font-family: $font--rubik;
    font-size: $fs--12;
    line-height: $lh--16;
    margin-bottom: 3.5rem;
    @include breakpoint(medium) {
      font-size: $fs--14;
      line-height: $lh--20;
    }
  }

  .slider-button {
    a {
      @include transition(all .3s);
      font-family: $font--rubik;
      font-size: $fs--tiny-plus;
      text-transform: uppercase;
      color: $c--primary-brown;
      font-weight: $fw--500;
      display: inline-block;
      border: 1px solid $c--primary-brown;
      padding: 1.5rem 4.5rem;
      &:hover {
        background-color: rgba($c--primary-brown, .1);
        color: $c--primary-red;
      }
    }
  }
}


/** Footer **/

#block-footer span {
  font-family: $font--rubik;
  color: $c--white;
  line-height: 2rem;
  font-size: $fs--tiny;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: center;
  @include breakpoint(medium) {
    opacity: .8;
    line-height: 4rem;
    text-align: initial;
  }
  a {
    color: $c--white;
  }
}