/**
 * @file
 * Typography component
 *
 * General typography theming.
 *
 * @package: typography
 */

/** Main menu **/


#block-consulo-theme-main-menu {
  .menu-item a {
    @include transition(all .3s);
    font-family: $font--rubik;
    font-size: $fs--small;
    color: $c--primary-brown;
    font-weight: $fw--500;
    text-transform: uppercase;
    &:hover {
      color: $c--primary-red;
    }
  }
}

/** Slider **/

.slider-text-holder {
  h2 {
    font-family: $font--playfair;
    font-size: $fs--mega;
    font-weight: $fw--100;
    margin-bottom: 1.3rem;
  }
  .slider-description {
    font-family: $font--rubik;
    font-size: $fs--small;
    margin-bottom: 3.5rem;
  }

  .slider-button {
    a {
      @include transition(all .3s);
      font-family: $font--rubik;
      font-size: $fs--tiny-plus;
      text-transform: uppercase;
      color: $c--primary-brown;
      font-weight: $fw--500;
      display: inline-block;
      border: 1px solid $c--primary-brown;
      padding: 1.5rem 4.5rem;
      &:hover {
        background-color: rgba($c--primary-brown, .1);
        color: $c--primary-red;
      }
    }
  }
}


/** Footer **/

#block-footer span {
  font-family: $font--rubik;
  color: $c--white;
  line-height: 4rem;
  font-size: $fs--tiny;
  text-transform: uppercase;
  letter-spacing: .1rem;
  opacity: .8;
  a {
    color: $c--white;
  }
}