
.block-page-title-block {
  @include flex;
  @include flex-direction(colum);
  @include align-items(center);
  @include justify-content(flex-start);

  background-color: $c--dark-red;
  position: relative;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .about-page & {
    background-image: url("../images/consulo_about_header.jpg");

    @include breakpoint(desktop) {
      background-image: url("../images/consulo_about_header--wide.jpg");
    }
  }

  .page-node-type-services-page & {
    background-image: url("../images/consulo_services_header.jpg");

    @include breakpoint(desktop) {
      background-image: url("../images/consulo_services_header--wide.jpg");
    }
  }

  @include breakpoint(mobile down) {
    z-index: -1;
  }

  @include breakpoint(medium) {
    height: 160px;
  }

  .page-title {
    @extend %wide-container;

    position: relative;
    font-family: $font--playfair;
    font-size: $fs--36;
    color: $c--white;
    z-index: 20;

    @include breakpoint(medium) {
      font-size: $fs--64;
    }
  }
}
