/**
 * @file
 * Navigation component
 *
 * Main navigation menu of site.
 *
 * @package: navigation
 */

#block-consulo-theme-branding {
  .site-logo img {
    height: 40px;
    @include breakpoint(medium) {
      height: auto;
    }
  }
}

.hamburger {
  position: relative;
  margin-top: 15px;
  @include breakpoint(medium) {
    display: none;
  }
}

.close {
  position: absolute;
  right: 22px;
  top: 15px;
}

#block-consulo-theme-main-menu {
  @include breakpoint(mobile down) {
    @include transition(all .3s);
    padding: 3rem;
    background-color: $c--light-grey;
    height: 100vh;
    width: 90%;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    &.active {
      @include box-shadow(-14px 0 8px 0 rgba($c--primary-brown, .5));
      right: 0;
    }
  }

  @include breakpoint(medium) {
    padding-top: 1.5rem;
  }
  .menu {
    @include flex;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include breakpoint(medium) {
      @include flex-direction(row);
    }
    .menu-item {
      @include breakpoint(mobile down) {
        padding: 15px 0;
        &:not(:last-child) {
          border-bottom: 1px solid rgba($c--primary-brown, .5);
        }
      }
      @include breakpoint(medium) {
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
  }
}