/**
 * @file
 * Navigation component
 *
 * Main navigation menu of site.
 *
 * @package: navigation
 */

#block-consulo-theme-branding {
  .site-logo img {
    height: 40px;

    @include breakpoint(medium) {
      height: auto;
    }
  }
}

.hamburger {
  position: relative;
  margin-top: 0.6rem;
}

.close {
  position: absolute;
  right: 2.2rem;
  top: 0.6rem;
}

.hamburger,
.close {
  @include breakpoint(medium) {
    display: none;
  }
}

#block-consulo-theme-main-menu {
  @include flex;

  @include breakpoint(smallmedium down) {
    @include justify-content(flex-start);
    @include flex-direction(column);
    @include transition(all 0.3s);

    padding: 3rem;
    background-color: $c--light-grey;
    height: 100vh;
    width: 90%;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 999;

    &.active {
      @include box-shadow(-14px 0 8px 0 rgba($c--primary-brown, 0.5));

      right: 0;
    }
  }

  @include breakpoint(medium) {
    @include justify-content(flex-end);
    @include flex-direction(row);
  }

  .menu {
    @include flex;
    @include flex-direction(column);
    @include justify-content(flex-start);

    @include breakpoint(medium) {
      @include flex-direction(row);
    }

    .menu-item {
      @include breakpoint(smallmedium down) {
        padding: 1.5rem 0;
        &:not(:last-child) {
          border-bottom: 0.1rem solid rgba($c--primary-brown, 0.5);
        }
      }

      @include breakpoint(medium) {
        padding: 2rem 1rem 0;
        border-top: 5px solid transparent;

        &--active-trail {
          border-top-color: $c--primary-red;
        }
      }

      @include breakpoint(tablet) {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  .menu-item a {
    @include transition(all 0.3s);

    font-family: $font--rubik;
    font-size: $fs--12;
    color: $c--primary-brown;
    font-weight: $fw--500;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: $fs--14;

      &:hover {
        color: $c--primary-red;
      }
    }
  }

  .social-icons-holder {
    @include flex;
    @include justify-content(flex-start);
    @include flex-direction(row);

    margin-left: 1.5rem;
    padding-top: 2rem;

    @include breakpoint(tablet) {
      margin-left: 4.5rem;
    }

    .social-icon {
      @include transition(all 0.3s);
      @include border-radius(100%);

      width: 22px;
      height: 22px;
      background-color: $c--primary-brown;
      text-align: center;
      line-height: 24px;
      color: #f3eef2;

      &:not(:last-child) {
        margin-right: 1.8rem;
      }

      @include breakpoint(medium) {
        &:hover {
          background-color: $c--primary-red;
        }
      }

      .fa-facebook-f {
        font-size: 1.3rem;
      }

      .fa-twitter {
        font-size: 1.2rem;
      }
    }
  }
}
