/**
 * @file
 * Form component
 *
 * Filed,d form and input elements, like:
 *  - input (text, number, email, password...)*
 *  - textarea
 *  - select
 *  - radios and checkboxes
 *
 *
 * @package: interactive
 */

.field--label-inline {
  .field__label,
  .field__items {
    float: left;
  }

  .field__label,
  > .field__item,
  .field__items {
    padding-right: 0.5em;
  }

  .field__label {
    &::after {
      content: ":";
    }
  }
}
