/**
 * @file
 * Page Content component
 *
 * Theming general page contents.
 *
 * @package: content
 */

/**
 * Main block
 */
.block-system-main-block {
  .node--type-page {
    @extend %wide-container;

    .about-page & {
      padding: 2rem 2.2rem;
      position: relative;
      min-height: 350px;

      @include breakpoint(medium) {
        padding: 4rem 4.4rem;
      }
    }

    .field--name-body {
      font-family: $font--rubik;
      font-weight: normal;
      font-size: $fs--15;
      line-height: $lh--23;

      @include breakpoint(medium) {
        max-width: 50%;
      }
    }

    .content-bgr {
      position: relative;
      width: 100%;
      max-width: 440px;
      margin: 2.5rem auto -4rem;
      display: block;

      @include breakpoint(medium) {
        position: absolute;
        bottom: 0;
        right: 4.4rem;
        width: 40%;
        z-index: 20;
        margin: auto;
      }
    }
  }
}

.section__inner {
  @extend %wide-container;
}
