/**
 * @file
 * Partners List component
 *
 * Theming Partners list block on Partners page.
 *
 * @package: content
 */

.block-views-blockpartners-partners-block {
  background: white;
  padding: 8rem 0 20rem;

  .inner-container {
    @extend %wide-container;
  }

  .block__title {
    @include section-title(light);
  }
}

.view-partners {
  > .view-content {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
  }

  .views-row {
    $logo-border: 1px solid lighten($c--primary-brown, 50%);

    @include flex-basis(100 / 1 * 1%);

    padding: 3rem;
    border-top: $logo-border;
    border-bottom: $logo-border;
    margin: -1px 0 0;

    @include breakpoint(bigmobile) {
      @include flex-basis(100 / 2 * 1%);

      border-top: 0;
      border-bottom: 0;
      border-left: $logo-border;
      border-right: $logo-border;
      margin: 0 -1px 2.5rem 0;
    }

    @include breakpoint(smallmedium) {
      @include flex-basis(100 / 3 * 1%);
    }

    @include breakpoint(medium) {
      @include flex-basis(100 / 4 * 1%);
    }

    @include breakpoint(desktop) {
      @include flex-basis(100 / 5 * 1%);
    }
  }
}

.partner__logo {
  @include flex;
  @include justify-content(center);
  @include align-items(center);
}

.image-style-partner-logo {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  filter: grayscale(1);
  filter: gray;
  transition: filter 0.5s;

  &:hover {
    filter: grayscale(0);
    filter: none;
  }
}

/**
 * Hover state on IE 10/11
 */
.grayscale {
  &:hover {
    svg {
      opacity: 0;
    }
  }
}
